@charset "UTF-8";
@import url(root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.important {
    font-weight: bold;
    text-shadow: 0 0 1px var(--text-shadow-color);
    color: var(--cor-4);
}

.external-link {
    text-wrap: nowrap;
    text-decoration: none;
    background: var(--cor-1);
    color: var(--cor-5);
    padding: 2px 6px;
}

.external-link:hover {
    text-decoration: underline;
}

.external-link::after {
    content:  " \1F517";
}

.article-image {
    display: block;
    margin: auto;
    width: 100%;
    max-width: fit-content;
}

.embeded-video {
    display: block;
    aspect-ratio: 16/9; 
    width: calc(100% - 40px);
    max-width: 800px;
    margin: auto;
}

.contact-link {
    font-weight: bold;
    color: var(--cor-1);
    text-decoration: none;
}

.contact-link:hover {
    color: var(--cor-0);
    text-decoration: underline;
}

body {
    font-family: var(--fonte-sans);
    background: var(--cor-0);
}

header {
    background: linear-gradient(var(--cor-3), var(--cor-5));
    color: var(--cor-6);
    text-align: center;
    min-height: 150px;
    padding: 40px 0 20px;
}

header > h1 {
    font-family: var(--fonte-cursive);
    font-size: var(--tamanho-fonte-header-h1);
    font-weight: normal;
    text-shadow: 2px 2px 0 var(--text-shadow-color);
    margin: 0 0 20px;
    padding: 0 10px;
}

header > p {
    font-size: var(--tamanho-fonte-header-p);
    text-shadow: 2px 2px 0 var(--text-shadow-color);
    max-width: 440px;
    margin: auto;
    padding: 0 20px;
}

nav {
    background: var(--cor-5);
    box-shadow: 0 2px 2px var(--box-shadow-color);
}

nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    row-gap: 20px;
    list-style: none;
    max-width: 1000px;
    padding: 20px 0;
    margin: auto;
}

nav > ul > li > a {
    color: var(--cor-1);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav > ul > li > a:hover {
    background-color: var(--cor-3);
    color: var(--cor-5);
}

main {
    background: var(--cor-6);
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 6px 6px var(--box-shadow-color);
}

main > article > h1, main > article > h2 {
    font-family: var(--fonte-android);
}

main > article > h1 {
    font-size: var(--tamanho-fonte-main-h1);
    color: var(--cor-5);
}

main > article > h2 {
    font-size: var(--tamanho-fonte-main-h2);
    background: linear-gradient(90deg, var(--cor-1), transparent);
    color: var(--cor-4);
}

main p {
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5em;
    margin: 16px 0;
}

main > article > section {
    background: var(--cor-5);
    margin: 0 -20px;
    padding: 20px 0;
}

main > article > aside {
    background: var(--cor-1);
    border-radius: 10px;
    margin: 16px 0 0;
    padding: 10px;
}

main > article > aside > h3 {
    background: var(--cor-4);
    color: var(--cor-6);
    border-radius: 10px 10px 0 0;
    margin: -10px -10px 0 -10px;
    padding: 10px;
}

main > article > aside > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: inside "\2714\00A0\00A0";
}

footer {
    text-align: center;
    background: var(--cor-5);
    color: var(--cor-6);
    padding: 20px 0;
}

footer > strong {
    display: inline-block;
    margin: 10px 0;
}

footer > ul#contact-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 220px;
    margin: auto;
    list-style: none;
}

footer > ul#contact-list > li {
    margin: 10px 0;
}

@media (min-width: 435px) {
    nav > ul {
        display: flex;
        justify-content: space-evenly;
    }

    main > article > aside > ul {
        flex-direction: row;
    }
}